<main>
  <h1>{{ viewModel.title }}</h1>
  <p>{{ viewModel.intro }}</p>

  <ul>
    {% for item in viewModel.items %}
      <li>
        <h2>{{ item.name }}</h2>
        <p>{{ item.explanation }}</p>
        <a href="{{ item.href }}">Check it out!</a>
      </li>
    {% endfor %}
  </ul>
</main>