<section class="article-prev">
  <a class="article-prev__link" href="{{ viewModel.href }}"></a>

  <h2 class="article-prev__title">{{ viewModel.title }}</h2>
  <time class="article-prev__pub-date">{{ viewModel.date }}</time>
  <small class="article-prev__reading-time">{{ viewModel.readingTime }}
    min
  </small>
</section>