<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ viewModel.title }}</title>

    {# Render styles #}
    {% for styleHref in viewModel.styles %}
      <link rel="stylesheet" type="text/css" href="/css/{{ styleHref }}">
    {% endfor %}
  </head>
  <body>
    {# Render main content #}
    {{ viewModel.body | safe }}

    {# Render scripts #}
    {% for scriptHref in viewModel.scripts %}
      <script href="/js/{{ scriptHref }}"></script>
    {% endfor %}
  </body>
</html>